body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-footer {
    background-color: whitesmoke;
    margin-top: auto;
    width: 100%;
    flex: 0 0 5vh;
}

.content {
    background-color: white;
    padding-bottom: 5vh;
}
