<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <%- include('../partials/_header') %>
    <div class="container">
        <div class="d-flex justify-content-center">Sorry, this page could not be found.</div>
    </div>
</body>
<%- include('../partials/_footer') %>
