<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <%- include('../partials/_header') %>
    <div class="content"> 
        <h1>This is the main page</h1>
        <a href="/gallery">This is a temporary link to the gallery</a>
    </div>
    <%- include('../partials/_footer') %>
</body>
</html>
